# Файл с переменными окружения (самое важное!)
.env

# Виртуальное окружение
venv/
.venv/

# Python кеш
__pycache__/
*.py[cod] # .pyc, .pyo, .pyd

# Локальные настройки IDE
.vscode/
.idea/

# Логи
*.log

# Файлы ОС
.DS_Store
Thumbs.db

# Если есть папка для данных Docker Volume в проекте (обычно нет)
# pg_data/